@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 84%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

.header-top {
  padding: 35px 0;
  display: flex;
  justify-content: flex-end;  
}

.header-top form {
  width: 16%;
  border: 2px solid #C9CACB;
  display: flex;
  position: relative;
}

.header-top form input { 
  padding: 4px 11px; 
  border: none;
}

.header-top form input::placeholder { 
  color: #B9B9BD;
  font-size: 18px;
}

.header-top .search {
  width: 16%;
  padding: 8px 0;
  border: none;
  margin-top: 1px;
  position: absolute;
  right: 1%;
  background-color: #fff;
  color: #B9B9BD;
  text-indent: -9999px;    
}

.header-top .search::before {
  content: "\f002";
  margin-right: 20%;
  color: inherit;
  float: right;
  font-family: "FontAwesome";
  font-size: 20px;
  text-indent: 0; 
}

.header-top div span:last-child {
  color: #9391A0;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.header-top div .favorite { 
  color: #858386;
  text-indent: -9999px; 
}

.header-top div .favorite::before {
  content: "\f08a";
  color: inherit;
  font-family: "FontAwesome";
  font-size: 25px;
}

.header-top div {
  padding: 4px 18px;
  border-right: 2px solid #9391A0;
}

.header-top ul {
  width: 13%;
  padding: 12px 0 12px 16px;
}

.header-top ul li a { text-indent: -9999px; }
.header-top ul li:first-child { margin-left: 0; }
.header-top ul li { margin-left: 6%; }
.header-top ul li a { color: #858386; }

.header-top ul li a::before {
  color: inherit;
  font-family: "FontAwesome";
  font-size: 25px;
  float: right;
  text-indent: 0;
}

.header-top ul li .facebook::before { content: "\f09a";}
.header-top ul li .twitter::before { content: "\f099";}
.header-top ul li .linkedin::before { content: "\f0e1";}
.header-top ul li .youtube::before { content: "\f167";}
.header-top ul li .google::before { content: "\f1a0";}

.header-bottom {
  border-bottom: 2px solid #C5C6C6;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.header-bottom h1 { font-size: 40px; }
.header-bottom h1 a .made { color: #5167B4; }

.header-bottom h1 a .for { 
  color: #2B46AA;
  font-weight: bold;
}

.header-bottom h1 a .more {
  color: #2B46A9;
  font-weight: 900;
}

.header-bottom h1 a .motor {
  display: block;
  color: #7C7E80;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase; 
}

.header-bottom .bar { text-indent: -9999px; }
.hamburger { display: none; }

.menu { 
  width: 47%;
  display: flex;
}

.menu nav {
  margin-top: 49px;
  flex-basis: 100%;
}

.menu nav ul:first-child { display: flex; }

.menu nav ul li { 
  flex-basis: 20%;
  text-align: center;
  text-transform: capitalize; 
}

.menu ul li a { color: #858386; }

.sub-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.sub-menu::after {
  content: "\f0d7";
  color: #7C7E80;
  font-family: "FontAwesome";
}

.sub-menu .sub-active::after {
  content: "\f0d8";
  color: #fff;
  font-family: "FontAwesome";
}

.sub-menu ul {
  min-width: 160px;
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #f9f9f9;
}

.sub-menu ul li {
  margin-left: 0; 
  display: block; 
}

.sub-menu ul li a {
  color: #7C7E80;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner section start */

.banner { position: relative; }

.banner .wrapper {
  max-width: 1518px;
  width: 100%;
}

.banner .wrapper div {
  width: 80%;
  padding: 31px 2% ;
  position: absolute;
  top: 280px;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%);    
}

.banner ul li:first-child { 
  border-bottom: 1px solid #7C7E80;
  margin-left: 0;
}

.banner ul { margin-bottom: 20px; }

.banner ul li {
  margin-left: 2%;
  color: #7C7E80;
  font-size: 18px;
  text-transform: capitalize;
}

.banner li a { color: inherit; }

.banner ul li::before {
  content: "\f105";
  margin-right: 10px;
  color: #7C7E80;
  font-family: "FontAwesome";
}

.banner ul li:first-child:before { 
  content: "";
  margin-right: 0;
}

.banner div p {
  color: #2B46AA;
  font-size: 40px;
}

.banner div p span {
  font-weight: bolder;
  text-transform: capitalize;
}

/* banner section end */

/* video section start */

.video-section p {
  padding: 40px 30px;
  color: #7F8F99;
  font-size: 25px;
  line-height: 33px;
}

.video-section p span { border-bottom: 2px solid #727272; }
.video-section p::first-letter { text-transform: capitalize; }

.video-section iframe {
  width: 57%;
  height: 413px;
  margin: 0 auto;
  display: block;   
}

/* video section end */

/* foundation-section start */

.foundation-section h2 {
  padding: 10px 30px 38px;
  color: #32489A;
  font-size: 32px;
  font-weight: bolder;
}

.foundation-section h2::first-letter { text-transform: capitalize; }
.foundation-section .tab-list li { width: 34%; }

.foundation-section .tab-list { 
  margin-bottom: 41px;
  display: flex; 
}

.foundation-section .tab {
  width: 100%;
  padding: 34px;
  border: none;
  border-bottom: 4px solid #AFB5BB;
  background-color: #fff;
  color: #B3B7BC;
  font-size: 26px;
  font-weight: bold;
  text-transform: capitalize;    
}

.foundation-section .tab .active {
  border: 3px solid #AFB5BB;
  border-bottom: none; 
  color: #2B46A9;
}

.foundation-section .leadership figure { 
  width: 40%; 
  display: inline-block;
  vertical-align: top;
}
.foundation-section .leadership { padding: 9px 50px; }

.foundation-section .leadership p {
  width: 53%;
  margin-top: 40px;
  margin-left: 5%;
  display: inline-block;
  font-size: 25px;
  color: #73687F;
  letter-spacing: 0.5px;
  line-height: 33px;
}

.leadership p span { border-bottom: 2px solid #919396; }
.leadership p::first-letter { text-transform: capitalize; }

.history {
  padding: 0 4% 25px;
  margin-top: 30px;
}

.history-filter { 
  margin-bottom: 20px;
  display: flex;
}

.history-filter li { 
  width: 10%;
  padding: 10px 15px;
  color: gray;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;    
}

.history-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.history-images li { 
  width: 33%;
  border: 1px solid #5167B4;
}

.sustain { padding: 15px 35px; }

.sustain ul {
  width: 60%;
  margin: 60px auto;
}


.accord-box:first-child { margin-top: 0; }
.accord-box { margin-top: 20px; }

.accord {
  padding: 20px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 20px;
  transition: 0.3s;
}

.accord-box.active,
.accord:hover {
  background-color: #32489A;
  color: #fff;
}

.accord::after {
  content: "\f067";
  height: 80px;
  color: #919396;
  font-family: "FontAwesome";
  float: right;
}

.accord-box.active .content { 
  height: auto;
  padding: 15px 34px;
  margin: 0 auto;
}

.accord-box.active .accord::after { 
  content: "\f00d";
  font-family: "FontAwesome";
 }

 .content {
  height: 0;
  background-color: #AFB5BB;
  color: #fff;
  font-size: 17px;
  transition: 0.5s ease-out;
  /* overflow: hidden; */
}

.foundation-section .leadership .active { 
  display: block;
  background-color: #32489A;
  color: #fff;
}

.none { display: none; }
.active { display: block; }

.tab-hide { display: none; }

/* foundation section end */

/* motors start */

.motors-section { background-color: #F2F3F5;}

.motors-section .wrapper {
  max-width: 1518px;
  width: 100%;
  display: flex;
}

.motors-section .wrapper div:first-child {
  width: 34.5%;
  padding: 70px 4% 90px 12%;
  display: inline-block;
}

.motors-section div h3,
.mobility-section div h3 {
  margin-bottom: 40px;
  color: #2E489A;
  font-size: 33px;
  font-weight: bolder;
}

.motors-section div:first-child li {
  color: #8A8086;
  font-size: 22px;
}

.motors-section .wrapper div:first-child li::first-letter { text-transform: capitalize; }

.motors-section div:first-child li span {
  color: #727272;
  font-weight: bolder;
  line-height: 32px;
}

.motors-section .wrapper div:last-child {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
}

.motors-section .wrapper div:last-child figure { border: 1px solid #fff;}

/* motors end */

/* mobolity starts */

.mobility-section .wrapper {
  max-width: 1518px;
  width: 100%;
  display: flex;
}

.mobility-section figure { width: 50%; }

.mobility-section .wrapper div {
  width: 34%;
  padding: 56px 0% 110px 5%;
}

.mobility-section div h3::first-letter,
.mobility-section div p::first-letter { text-transform: capitalize;}

.mobility-section div p {
  color: #8E8E8E;
  font-size: 22px;
  line-height: 30px;
}
/* mobility ends */

/* review section start */

.reviews { background-color: #28489A;}

.reviews .wrapper {
  max-width: 1518px;
  width: 83%;
  padding: 40px 0 2px;
}

.reviews .employees {
  display: flex;
  justify-content: space-between;
}

.reviews .employees h3 {
  color: #fff;
  font-size: 39px;
}

.reviews .employees h3::first-letter { text-transform: capitalize; }

.employees div {
  color: #5876B3;
  text-transform: capitalize;
}

.employees div a { 
  color: #A7B4D6;
  text-transform: lowercase;
}

.employees div a::before {
  content: "\f1a0";
  color: inherit;
  font-size: 20px;
  font-family: "FontAwesome";
}

.rating-review {
  border: 1px solid #28489A;
  margin: 30px auto;
  display: flex;
}

.star-rating,
.percent-rating,
.rating-review figure { 
  width: 25%;
  background-color: #fff;
  border-right: 2px solid #28489A;
}

.star-rating {
  padding: 62px 0;
  display: flex;
  justify-content: center;
}

.star-rating div:first-child span { font-size: 25px; }
.star-rating div:first-child { margin-right: 5%; }

.filled,
.half-star,
.hollow-star {
  color: #28489A;
  font-size: 25px;
  font-family: "FontAwesome";
  text-indent: -9999px;
  float: right;
}

.filled::after,
.half-star::after,
.hollow-star::after {
  float: right;
  text-indent: 0;
}

.filled::after { content: "\f005"; }
.half-star::after { content: "\f123"; }

.hollow-star::after { 
  content: "\f005";
  color: #D5D5D5;
}

.percent-rating {
  padding: 24px 0;
  display: flex;
  justify-content: center;
}

.percent-rating div:first-child {
  margin-top: 30px;
  margin-right: 13%;
  color: #28489A;
  font-size: 20px;
}

.percent-rating div:first-child::after { 
  content: "\f295";
  color: #28489A;
  font-size: 15px;
  font-family: "FontAwesome";
}

.percent-rating div:last-child span {
  color: #595959;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

.percent-rating ul li { 
  display: block; 
  color: #272727;
  font-size: 13px;
  font-weight: bold;
}

.percent-rating ul li { text-transform: capitalize; }

.percent-rating ul li::before {
  content: "\f111";
  margin-right: 6%;
  font-size: 10px;
  font-family: "FontAwesome";
}

.percent-rating ul li::after {
  content: "\f295";
  margin-left: 15%;
  font-size: 10px;
  font-family: "FontAwesome"; 
}

.percent-rating ul li:first-child::before { color: #28489A; }
.percent-rating ul li:nth-child(2):before { color: #CBCBCB; }
.percent-rating ul li:last-child::before { color: #C31C0C; }

/* review  section end*/




/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { background-color: #F2F3F5; }

footer .wrapper { 
  padding: 50px 0 115px;
  display: flex;
  justify-content: space-between; 
}

footer .logo {
  width: 40%;
  font-size: 46px;
  line-height: 42px;
}

footer .logo a { color: #7B7D7E; }

footer .logo span { display: block; }
footer .for { font-weight: bold; }
footer .more { font-weight: 900; }
footer .wrapper div:nth-child(2) { width: 48%; }

footer .motor {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.icons {
  width: 98%;
  margin-bottom: 25px;
  text-align: end;
}

.icons li a { text-indent: -9999px; }

.icons li a::before {
  margin-left: 11%;
  float: right;
  font-size: 22px;
  font-family: "FontAwesome";
  text-indent: 0;
}

.facebook::before {
  content: \f09a;
  color: #365C94;
}

.twitter::before {
  content: "\f099";
  color: #31A7E3;
}

.linkedin::before {
  content: "\f0e1";
  color: #2887B6;
}

.youtube::before {
  content: "\f167";
  color: #DB3E2C;
}

.google::before {
  content: "\f1a0";
  color: #7EC346;
}

.footer-links { margin-bottom: 20px; }

.footer-links li {
  height: 20px;
  padding: 0 13px;
  border-right: 1px solid #727272;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-transform: capitalize;
}

.footer-links li a { color: #A4A5A8; }

.copyright {
  color: #97989A;
  font-size: 15px;
  text-align: end;
  text-transform: capitalize;
  
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  

@media only screen and (min-width: 996px) {

  /* header start */

  .header-top .search:hover {
    color: #000;
    transition: 0.5s;
  }

  .header-top ul li a:hover {
    color: #000;
    transition: 0.6s;
  }

  .header-top div .favorite:hover::before { 
    content: "\f004";
    color: #858386; 
    font-family: "FontAwesome";
    font-size: 25px;
    transition: 1s;
  }
  
  .menu ul li a:hover {
    color: #5167B4;
    transition: 1s;
  }

  .sub-menu ul li a:hover { background-color: #f1f1f1;}
  .sub-menu:hover ul { display: block;}

  .sub-menu:hover::after {
    content: "\f0d8";
    color: #7C7E80;
    font-family: "FontAwesome";
    transition: 1s;
  }

  /* header end */

  /* main start */

  .banner li a:hover {
    color: #5167B4;
    transition: 1s;
  }

  .foundation-section .tab:hover {
    border: 3px solid #AFB5BB;
    border-bottom: none;
    color: #2B46A9;
    transition: 0.3s;
  }

  .history-filter li:hover {
    background-color: #5167B4;
    color: #fff;
    transition: 1s;
  }

  .employees div a:hover,
  .employees div a:hover::before {
    color: #fff;
    transition: 1s;
  }

  /* main end */

  /* footer start*/

  .footer-links li a:hover {
    color: #32489A;
    transition: 1s;
  }

  footer .logo a:hover {
    color: #5167B4;
    transition: 1s;
  }
  /* footer end */
}  
